@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* App.css */
.light {
  background-color: #fff; /* Light mode background color */
  color: #000; /* Light mode text color */
  /* Add more light mode styles as needed */
}

.dark {
  background-color: #333; /* Dark mode background color */
  color: #fff; /* Dark mode text color */
  /* Add more dark mode styles as needed */
}

/* Add styles for the light/dark mode button */
.light-dark-button {
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  /* Add more button styles as needed */
}
